/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.container{
  display: flex;
  justify-content: center;
  align-items: stretch;
}
button{
  width: 8%;
  margin: 1%;
}
@media screen and (max-width: 750px) {
  button{
    height: 30%;
    width: 15%;
  }
}
.hit, .stay{
  align-content: center;
}
.hidden{
  display: none;
}
img{
  max-height: 20vh;
}
p{
  display: inline;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

button{
  background-color: darksalmon;
  border-radius: 10px;
}
body{
  background-color: rgb(34, 97, 21);
  color: white;
  font-family: 'Noto Sans', sans-serif;
}